* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p1 {
  font-size: 12em;
}

p2 {
  font-size: 6em;
}

p3 {
  font-size: 4em;
}

p4 {
  font-size: 3em;
}

p5 {
  font-size: 2.4em;
}

.card-text-11 {
  font-size: 12em;
}

.card-text-12 {
  font-size: 24em;
}

.card-text-13 {
  font-size: 36em;
}

.card-text-14 {
  font-size: 48em;
}

.card-text-15 {
  font-size: 60em;
}

/*------ESTILOS DEL BODY------*/
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  background-color: rgba(0, 17, 255, 0.397);
  font-weight: 300;
  font-size: 20px;
}

/*------ESTILOS DEL HEADER------*/
.top-header-info {
  font-size: 16px;
  color: white;
  background-color: #000000;
}
.top-header-info .info-telefono {
  margin-left: 30%;
  margin-right: 30px;
}

header {
  position: fixed;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-caja-sombra: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-caja-sombra: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  z-index: 5;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  background-color: rgba(0, 0, 255, 0.295);
  padding: 10px;
}
header nav img {
  width: 80px;
  height: 80px;
}
header nav h1 {
  position: relative;
  display: flex;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: white;
  color: rgba(0, 0, 255, 0.295);
  font-size: 20px;
  overflow: hidden;
  transition: all 500ms ease;
  text-decoration: none;
  margin: 20px;
  font-weight: 200;
}
header nav link {
  border-radius: 4px;
}
header nav .navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
header nav ul li a {
  position: relative;
  display: block;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: rgb(252, 252, 252);
  color: rgb(4, 8, 255);
  font-size: 14px;
  overflow: hidden;
  transition: all 500ms ease;
  text-decoration: none;
  margin: 25px;
  z-index: 0;
  font-weight: 700;
}

.header-secciones {
  position: relative;
  background-color: rgb(0, 0, 255);
  width: 100%;
}

/*------ESTILOS DEL MAIN------*/
.portada {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.38)), url(../imagenes/banners/ventana-semiabierta2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.portada h2 {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-size: 80px;
  border: 2px solid white;
  padding: 20px;
  animation-name: h2-in;
  animation-duration: 5s;
  animation-timing-function: ease;
}
@keyframes h2-in {
  0% {
    transform: translateY(-800px);
  }
  100% {
    transform: translateY(0px);
  }
}
.portada p {
  margin: 20px;
  animation-name: portada-p-in;
  animation-duration: 5s;
  animation-timing-function: ease;
}
@keyframes portada-p-in {
  0% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(0px);
  }
}
.portada a {
  text-decoration: none;
  color: white;
  background-color: rgb(0, 0, 255);
  padding: 16px;
  animation-name: portada-a-in;
  animation-duration: 5s;
  animation-timing-function: ease;
}
@keyframes portada-a-in {
  0% {
    transform: translateY(-800px);
  }
  100% {
    transform: translateY(0px);
  }
}

.h2-a {
  background-color: rgb(0, 0, 255);
  color: white;
  width: 100%;
  text-align: center;
  padding: 15px;
}

.img-auspiciantes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  grid-area: span;
  gap: 15px;
  margin-top: 4%;
  margin-bottom: 4%;
}
.img-auspiciantes .img-1 {
  margin: 10%;
  width: 250px;
  background-color: rgb(0, 0, 255);
  box-shadow: 10px 10px 15px 0px rgb(0, 0, 255);
  -webkit-caja-sombra: 10px 10px 15px rgb(0, 0, 255);
  -moz-caja-sombra: 10px 10px 15px 0px rgb(0, 0, 255);
}
.img-auspiciantes .img-2 {
  margin: 10%;
  width: 250px;
  background-color: rgb(0, 0, 255);
  box-shadow: 10px 10px 15px 0px rgb(0, 0, 255);
  -webkit-caja-sombra: 10px 10px 15px rgb(0, 0, 255);
  -moz-caja-sombra: 10px 10px 15px 0px rgb(0, 0, 255);
}
.img-auspiciantes .img-3 {
  margin: 10%;
  width: 250px;
  background-color: rgb(0, 0, 255);
  box-shadow: 10px 10px 15px 0px rgb(0, 0, 255);
  -webkit-caja-sombra: 10px 10px 15px rgb(0, 0, 255);
  -moz-caja-sombra: 10px 10px 15px 0px rgb(0, 0, 255);
}
.img-auspiciantes .img-4 {
  margin: 10%;
  width: 250px;
  background-color: rgb(0, 0, 255);
  box-shadow: 10px 10px 15px 0px rgb(0, 0, 255);
  -webkit-caja-sombra: 10px 10px 15px rgb(0, 0, 255);
  -moz-caja-sombra: 10px 10px 15px 0px rgb(0, 0, 255);
}
.img-auspiciantes .img-5 {
  margin: 10%;
  width: 250px;
  background-color: rgb(0, 0, 255);
  box-shadow: 10px 10px 15px 0px rgb(0, 0, 255);
  -webkit-caja-sombra: 10px 10px 15px rgb(0, 0, 255);
  -moz-caja-sombra: 10px 10px 15px 0px rgb(0, 0, 255);
}
.img-auspiciantes .img-6 {
  margin: 10%;
  width: 200px;
  background-color: rgb(0, 0, 255);
  box-shadow: 10px 10px 15px 0px rgb(0, 0, 255);
  -webkit-caja-sombra: 10px 10px 15px rgb(0, 0, 255);
  -moz-caja-sombra: 10px 10px 15px 0px rgb(0, 0, 255);
}

.carousel {
  padding-top: 3%;
  padding-left: 20%;
  padding-bottom: 3%;
  background-color: rgba(0, 17, 255, 0.397);
}
.carousel .d-block {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-caja-sombra: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-caja-sombra: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

.row-cols-1 {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.row-cols-1 .card {
  background-color: rgb(0, 0, 255);
}
.row-cols-1 .card .card-title {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
  font-weight: 600;
}
.row-cols-1 .card .card-footer {
  text-decoration: none;
  color: white;
  background-color: rgb(0, 0, 255);
  border-radius: 50%;
  border-color: black;
}
.row-cols-1 .card div a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  display: flex;
  justify-content: center;
}
.row-cols-1 .col-1 {
  background-color: rgb(0, 0, 255);
  box-shadow: 10px 10px 15px 0px rgb(0, 0, 255);
  -webkit-caja-sombra: 10px 10px 15px rgb(0, 0, 255);
  -moz-caja-sombra: 10px 10px 15px 0px rgb(0, 0, 255);
}
.row-cols-1 .col-2 {
  background-color: rgb(0, 0, 255);
  box-shadow: 10px 10px 15px 0px rgb(0, 0, 255);
  -webkit-caja-sombra: 10px 10px 15px rgb(0, 0, 255);
  -moz-caja-sombra: 10px 10px 15px 0px rgb(0, 0, 255);
}
.row-cols-1 .col-3 {
  background-color: rgb(0, 0, 255);
  box-shadow: 10px 10px 15px 0px rgb(0, 0, 255);
  -webkit-caja-sombra: 10px 10px 15px rgb(0, 0, 255);
  -moz-caja-sombra: 10px 10px 15px 0px rgb(0, 0, 255);
}
.row-cols-1 .col-4 {
  background-color: rgb(0, 0, 255);
  box-shadow: 10px 10px 15px 0px rgb(0, 0, 255);
  -webkit-caja-sombra: 10px 10px 15px rgb(0, 0, 255);
  -moz-caja-sombra: 10px 10px 15px 0px rgb(0, 0, 255);
}
.row-cols-1 .col-5 {
  background-color: rgb(0, 0, 255);
  box-shadow: 10px 10px 15px 0px rgb(0, 0, 255);
  -webkit-caja-sombra: 10px 10px 15px rgb(0, 0, 255);
  -moz-caja-sombra: 10px 10px 15px 0px rgb(0, 0, 255);
}
.row-cols-1 .col-6 {
  background-color: rgb(0, 0, 255);
  box-shadow: 10px 10px 15px 0px rgb(0, 0, 255);
  -webkit-caja-sombra: 10px 10px 15px rgb(0, 0, 255);
  -moz-caja-sombra: 10px 10px 15px 0px rgb(0, 0, 255);
}

.section-galeria {
  width: 100%;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.38)), url(../imagenes/banners/edificio-vidriado.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 20px;
}
.section-galeria .section-galeria-h2 {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-size: 40px;
  border: 2px solid white;
  padding: 20px;
}
.section-galeria .section-galeria-a {
  text-decoration: none;
  color: white;
  background-color: rgb(0, 0, 255);
  padding: 12px;
  margin-top: 25px;
}
.section-galeria .section-container-galeria {
  background-color: rgba(0, 17, 255, 0.397);
  width: 100%;
  padding: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 15px;
}
.section-galeria .grid-container-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-caja-sombra: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-caja-sombra: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}
.section-galeria .img-galeria-1 {
  grid-column-start: span 2;
}
.section-galeria .img-galeria-2 {
  grid-row-start: span 2;
}
.section-galeria .img-galeria-3 {
  grid-row-start: span;
}
.section-galeria .img-galeria-5 {
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.section-galeria .img-galeria-6 {
  grid-row-start: span 2;
}
.section-galeria .img-galeria-9 {
  grid-row-start: span 2;
}
.section-galeria .img-galeria-10 {
  grid-column-start: span 2;
}

.row {
  margin-top: 5%;
  padding-top: 0%;
  background-color: rgb(0, 0, 255);
  border-radius: 5%;
}
.row .card-title-1 {
  color: rgb(0, 0, 255);
  background-color: white;
  font-size: 25px;
  font-weight: 700;
}
.row .card-text-1 {
  color: rgb(0, 0, 255);
  font-size: 15px;
  font-weight: 600;
  background-color: white;
}
.row p a {
  color: rgb(0, 0, 255);
  background-color: white;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
}

div .accordion {
  margin-top: 2%;
  margin-bottom: 2%;
}
div .parrafo {
  background-color: rgb(0, 0, 255);
  color: white;
  margin-bottom: 0;
}

div .form-contacto {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 2%;
  padding-top: 2%;
}
div form div label h4 {
  color: white;
  background-color: rgb(0, 0, 255);
  border-radius: 8px;
  font-weight: 500;
}

div .card-title-carrito {
  color: white;
  background-color: rgb(0, 0, 255);
  font-size: 20px;
  font-weight: 700;
  margin-top: 2%;
}
div .card-body-carrito {
  background-color: white;
}
div .card-footer-carrito {
  color: white;
  background-color: rgb(0, 0, 255);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2%;
}

/*------ESTILOS DEL FOOTER------*/
footer {
  display: grid;
  grid-template-rows: auto;
  width: 100vw;
  height: 450%;
  background-color: rgb(0, 0, 255);
}
footer img {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin-left: 50%;
  margin-top: 2%;
}
footer .redes-sociales {
  display: flex;
  justify-content: center;
  margin: 0%;
  padding: 10px;
}
footer h4 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  margin-left: 5%;
  margin-top: 2%;
  color: black;
}
footer p {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
}

div .copyright {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}

/*------ESTILOS MEDIA QUERIES------*/
@media screen and (max-width: 1082px) {
  body {
    font-weight: 280px;
    font-size: 16px;
  }
  header nav img {
    width: 65px;
    height: 65px;
  }
  header nav h1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 1040px) {
  body {
    font-weight: 250px;
    font-size: 14px;
  }
  header nav img {
    width: 60px;
    height: 60px;
  }
  header nav h1 {
    font-size: 16px;
  }
}
@media screen and (max-width: 930px) {
  body {
    font-weight: 200px;
    font-size: 18px;
  }
  header nav h1 {
    font-size: 16px;
  }
  header nav img {
    width: 50px;
    height: 50px;
  }
  header nav ul li a {
    font-weight: 200px;
    font-size: 14px;
    margin: 20px;
  }
}
@media screen and (max-width: 768px) {
  body {
    width: 100%;
    height: 100%;
    font-weight: 180px;
    font-size: 16px;
  }
  header nav h1 {
    font-size: 14px;
  }
  header nav img {
    width: 50px;
    height: 50px;
  }
  header nav ul li a {
    font-weight: 100px;
    font-size: 12px;
    margin: 14px;
  }
  .portada h2 {
    font-size: 60px;
    margin-top: 100px;
  }
  .img-auspiciantes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    grid-area: span;
    gap: 15px;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  .img-1 {
    margin-bottom: 5%;
    margin-left: 15%;
    width: 250px;
    grid-column-start: span 1;
  }
  .img-2 {
    margin-bottom: 5%;
    margin-left: 15%;
    width: 250px;
    grid-column-start: span 1;
  }
  .img-3 {
    margin-bottom: 5%;
    margin-left: 15%;
    width: 250px;
    grid-column-start: span 1;
  }
  .img-4 {
    margin-bottom: 5%;
    margin-left: 15%;
    width: 250px;
    grid-column-start: span 1;
  }
  .img-5 {
    margin-bottom: 5%;
    margin-left: 15%;
    width: 250px;
    grid-column-start: span 1;
  }
  .img-6 {
    margin-bottom: 5%;
    margin-left: 20%;
    width: 200px;
    grid-column-start: span 1;
  }
  footer {
    display: grid;
    grid-template-rows: auto;
    width: 100;
    height: 200%;
    background-color: rgb(0, 0, 255);
  }
  footer div img {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-left: 45%;
  }
  .p-1 {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
  }
  footer div div h4 {
    display: flex;
    justify-content: center;
    color: black;
    padding: 10px;
  }
  footer div div p {
    display: flex;
    justify-content: center;
    color: white(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
  }
}
@media screen and (max-width: 320px) {
  body {
    width: 100%;
    height: 100%;
    font-weight: 200px;
    font-size: 16px;
  }
  header {
    position: fixed;
  }
  header nav {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  header nav img {
    margin-top: 5px;
  }
  header nav h1 {
    font-size: 25px;
    margin-top: 16px;
  }
  header nav div {
    margin-top: 15px;
  }
  header nav ul {
    text-align: center;
  }
  header nav ul li a {
    display: block;
    font-size: 0.5em;
    font-weight: 200;
  }
  .img-auspiciantes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-area: span;
    gap: 15px;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  .img-1 {
    margin-bottom: 5%;
    margin-left: 15%;
    width: 250px;
    grid-column-start: span 2;
  }
  .img-2 {
    margin-bottom: 5%;
    margin-left: 15%;
    width: 250px;
    grid-column-start: span 2;
  }
  .img-3 {
    margin-bottom: 5%;
    margin-left: 15%;
    width: 250px;
    grid-column-start: span 2;
  }
  .img-4 {
    margin-bottom: 5%;
    margin-left: 15%;
    width: 250px;
    grid-column-start: span 2;
  }
  .img-5 {
    margin-bottom: 5%;
    margin-left: 15%;
    width: 250px;
    grid-column-start: span 2;
  }
  .img-6 {
    margin-bottom: 5%;
    margin-left: 20%;
    width: 200px;
    grid-column-start: span 2;
  }
  .portada {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: scroll;
  }
  .portada h2 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 40%;
    padding: 10px;
  }
  .portada p {
    font-size: 20px;
    margin: 20px;
  }
  .portada a {
    font-size: 20px;
    padding: 20px;
  }
  .productos > div {
    margin-top: 0px;
  }
  .productos div div {
    width: 250px;
    height: 350px;
    margin-top: 20px;
  }
  .productos div div h3 {
    margin-top: 20px;
    margin-bottom: 10%;
  }
  .productos div div a {
    font-weight: 800;
    padding: 10px;
  }
  .galeria {
    width: 100%;
    height: 50vh;
    margin-top: 15px;
  }
  .galeria h2 {
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
  }
  footer {
    display: grid;
    grid-template-rows: auto;
    width: 100;
    height: 300%;
    background-color: rgb(0, 0, 255);
  }
  footer div img {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-left: 140px;
    margin-top: 5%;
  }
  .p-1 {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
  }
  footer div div h4 {
    font-size: 16px;
    display: flex;
    justify-content: center;
    color: rgb(8, 8, 8);
    padding: 10px;
  }
  footer div div p {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 400;
    font-size: 12px;
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
